.stat-card {
  background-color: #F3F0FF;
  border: 2px dashed #9f74ff;
  border-radius: 24px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .stat-card {
    padding: 1rem;
    aspect-ratio: auto;
    min-height: 200px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.value {
  font-size: clamp(60px, 8vw, 100px);
  font-weight: 700;
  color: #9f74ff;
  display: block;
  font-family: 'Cabinet Grotesk variable', sans-serif;
  font-style: bold;
  line-height: 1;
}

@media (max-width: 768px) {
  .value {
    font-size: clamp(40px, 12vw, 60px);
  }
}

.stat-description {
  font-family: 'Caveat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #818181;
  justify-content: center;
  margin: 0 48px;
  letter-spacing: -0.02em;
  line-height: 40px;
}

@media (max-width: 768px) {
  .stat-description {
    font-size: 24px;
    line-height: 1.2;
    margin: 0 1rem;
  }
}

.decorative-avatar {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: clamp(40px, 5vw, 60px);
  height: auto;
}

@media (max-width: 768px) {
  .decorative-avatar {
    width: 40px;
  }
}

.decorative-avatar img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
