.hours-bar {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    width: 100%;
    background-color: #CFB9FF;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
}

@media (max-width: 768px) {
  .hours-bar {
    height: 48px;
    min-height: unset;
    flex-wrap: nowrap;
    padding: 0;
  }
}

.hours-segment-taught {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    background-color: #DAFFAA;
    border: 1px solid #C1FF72;
    border-radius: 12px;
    z-index: 2;
    min-width: 150px;
}

@media (max-width: 768px) {
  .hours-segment-taught {
    min-width: unset;
    height: 100%;
    margin-left: 0;
    border-radius: 12px;
    flex-shrink: 0;
  }
}

.taught-hours-text {
    font-family: 'Open Sauce Two';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    padding: 8px 12px;
    color: #4D662E;
}

@media (max-width: 768px) {
    .taught-hours-text {
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.remaining-hours-text {
    font-family: 'Open Sauce Two';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    padding: 8px 12px;
    color: var(--primary-600);
}

@media (max-width: 768px) {
    .remaining-hours-text {
        flex: 1;
        min-width: 0;
        font-size: 14px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
