.HoursCard {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 320px;
    height: 70px;
    min-height: 70px;
    border-radius: 16px;
    border-width: 1px;
    border-style: dashed;
    border-color: #C6C6C6;

}

.DayAndHoursContainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 5px;
    margin-bottom: 5px;
}

.LeftColor {
    width: 32px;
    height: 100%;
    background-color: #9F74FF;
    border-radius: 16px 0 0 16px;
}

.closeButton {
    position: absolute;
    z-index: 9999;
    top: 25px;
    right: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    background-color: #F35761;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeIcon {
    width: 9px;
    height: 9px;
}

.presencial {
    width: 72px;
    height: 24px;
    border-radius: 12px;
    background-color: #FAE9B7;
    color: #91792E;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.virtual {
    width: 72px;
    height: 24px;
    border-radius: 12px;
    background-color: #82E0AA;
    color: #12522D;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modality {
    display: flex;
    gap: 4px;
}

.day{
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #1A1A1A;
}

.hours{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #1A1A1A;
}
